<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
<parameter name ="user" value="standard_user"/>
<parameter name ="pass" value="secret_sauce"/>
  <classes>


<class name ="Tests.LoginTest"/>
<class name ="Tests.HomepageTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
